.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 95vh;
}
.form {
  margin-top: 15vh;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  display: flex;
  flex-wrap: wrap;
}
.heading {
  text-align: center;
}
.form-signUp {
  width: 50%;
  padding: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  font-size: 0.8rem;
}
.check {
  margin-bottom: 15px;
}
.submit-btn {
  display: flex;
  justify-content: center;
}

.success {
  color: rgb(11, 129, 11);
  font-size: 1.5rem;
}

.image-container {
  margin-top: 10vh;
  height: 100%;
}
img {
  height: 100vh;
  width: 100%;
}
@media (max-width: 510px) {
  .image-container {
    display: none;
  }
  .form-signUp {
    width: 100% !important;
    margin-top: 10vh;
  }
}
