* {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid red;
  width: 100%;
  height: 100vh;
  margin-top: 10vh;
  display: flex;
}

.form {
  border: 1px solid blue;
  height: 70vh;
  width: 50%;
  margin-top: 5vh;
}

.sign-up-heading {
  text-align: center;
}

.or {
  border: 1px solid darkBlue;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  background: #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  position: absolute;
  top: 45vh;
  left: 50%;
}
.social-media-container {
  border: 1px solid orange;
  height: 70vh;
  width: 50%;
  margin-top: 5vh;
}
