.main-section {
  display: flex;
  justify-content: center;
  height: 90vh;
  background-color: white;
}

.main {
  height: 80%;
  width: 70%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px 5px;
  border-radius: 10px;
}

h1,
.para {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 2rem;
}
