li {
  list-style: none;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
}

.ul-list {
  display: flex;
}

.list {
  margin: 5vw;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.list:hover {
  color: lightgrey;
  font-weight: bold;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}
